* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "KaiTi", "楷体", STKaiti, "华文楷体", sans-serif;
    font-weight: 300;
    color: #555;
    padding: 0;
    margin: 0;
    hyphens: auto;

    /* otherwise safari fonts become too thin */
    -webkit-font-smoothing: subpixel-antialiased;
}

/* TODO: figure out how to do a dynamic font-size that works on both monitors and phone screens */
#titleInput {
    font-size: calc(16px + 4vw);
}

/* All unknown queries are underlined in red inside the input field. */
#titleInput:invalid {
    text-decoration: underline;
    text-decoration-color: #884433;
    text-decoration-style: dotted;
}

#titleInput::placeholder {
    color: #DDD;
}

main.pageContent {
    transition: all 1s;
}

main.pageContent--unknownTerm {
    color: #DDD;
}
