/* === GLOBAL === */

* {
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2ch;
    padding: 0;
    margin: 0; /* TODO: fix search result filters */

    /* otherwise safari fonts become too thin */
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
	/*  grey glow behind input textfield */
	background: white; /* for browsers w/o gradient support */
	background: radial-gradient(circle, #FCFCFB, white);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
    /* So that links won't suddenly reset a custom font to the global one. */
    font-family: inherit;
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #4477DD;
}

h1, h2 {
	color: #555555;
	font-family: Didot, serif;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

p {
	font-size: 14pt;
	margin: 0 0 1em 0;
	color: #999999;
}

ol, ul {
    margin: 1em 0 1em 4ch;
}

li {
    margin-bottom: 0.2em;
}




/* === ANIMATIONS === */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}




/* === CORE PAGE ELEMENTS === */

/*  A transparent, virtual background element that fills the screen.
    This is necessary for the transition from a gradient to a white background.
    It would have been nice to just transition the body element,
    but gradients unfortunately don't support transitions.
    Instead, we resort to transitioning this virtual background from
    transparent to white (on top of the body element with the gradient). */
div#bg {
    min-height: 100vh;
    transition: all 1s;
}

div#bg.with-page {
	background: white;
	transition: all 1s;
}

/*  The main logo of the site fades in like most elements and gets smaller
    when the site displays some page content. */
img#logo {
	animation: fade-in 0.5s ease;
	transition: all 0.3s;
    max-height: 7em;
    margin-bottom: 0.5em;
	width: 100%; /* otherwise image could overflow on small page widths */

    /* TODO: find fixes for non-Chrome browsers */
    user-drag: none;
    user-select: none;
}

div#bg.with-page img#logo {
	max-height: 4em;
	margin: 0.8em auto 0 auto;
}

/* The header (logo, input bar, hint) transitions from center to top.  */
header {
    position: fixed;
	min-width: 100%; /* expand entirely, but always keep a little margin*/
	max-width: 80%; /* fixes problem with layout when hint length > page width */
	left: 50%;

    /* Display on top of content when transitioning. */
	z-index: 1;

	/* Faster going down than up! */
	transition: all 0.3s;

    /* Centered vertically */
	top: 42%; /* using 50% looks off somehow...*/
	transform: translate(-50%, -40%);
	-webkit-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
	border-bottom: solid 2pt rgba(233, 233, 233, 0);
}

div#bg.with-page > header {
	/* Slower going up than down. */
	transition: all 0.5s;

    /* Add some colours. */
	background: #FCFCFB;
	border-bottom: solid 1pt rgba(220, 220, 220, 1);

    /* Go to the top of the page. */
	top: 0;
    transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

/* 	aligner is necessary for limiting width and centering horisontally!
	without "min-width:98%;" in .vcenter, .vcentor gets crammed,
	so this extra class is necessary to get a max-width.
*/
header div#aligner {
	max-width: 80ch;
	margin: auto;
	padding: 0 0.5ch;
}

/* Also known as the #study-form */
header form {
	display: flex;
	margin: 1em 0 0 0;
}

/* Formerly known as the #study-input */
header form > input {
	animation: fade-in 1s ease;
    transition: all 0.5s;

	font-size: 14pt;

	padding: 0.5ch;
	border: 1pt solid #999999;
	border-radius: 0.5ch;
	background-color: white;

	/* Take up full width */
    flex: 1;
}

/* Grey colouring of input when action-chooser is active */
header form > input[disabled] {
	background-color: #DDDDDD;
}

/* Formerly known as the #study-button */
header form > button {
	border: 0;
	padding: 0;
	font-size: 0;
	width: 0;
}

/* Formerly known as the #study-hint */
header p {
	max-width: 100%;
	animation: fade-in 0.5s ease;

	/* text-related */
    font-size: 9pt;
    font-weight: lighter;
    color: #999999;
    margin: 0.4em 0;
    padding: 0.5ch;
    letter-spacing: 0.6ch;

	/* make sure text stays on a single line */
	white-space: nowrap;
	overflow: hidden;

	/* TODO: fix? Doesn't work */
	text-overflow: ellipsis;

	/*  Make sure the hint keeps its height when empty
	    (1em is having problems displaying span.keypress). */
	height: 1.2em;
}

main {
	animation: fade-in 0.5s ease;

	/* positioning */
    position: relative;
    top: 11em; /* pos relative to header varies a bit on different browsers */
    margin: auto;
    padding: 0 1ch;

    /* 	to make sure the page can reached on small screen sizes,
        otherwise the footer might block the view */
    border-bottom: 5.5em solid rgba(255,255,255,0);

	/* box */
	max-width: 80ch;

	/* text-related */
    color: #999999;
}

footer {
	animation: fade-in 1.5s ease;

	/* text */
	text-align: center;
	color: #DD8888;

	/* box */
	border-top: solid 1pt #AA4433;
	background: linear-gradient(#BB5544, #AB4230);
	border-left: 1pt solid #BB5544; /* fixes problem with transparent left border */
	padding: 1.2em 0;
	width: 100%;

	/* position */
	position: fixed;
	margin: 0;
    bottom: 0;
}

nav {
	/* text-related */
	font-family: "Gill Sans", sans-serif;
    font-size: 12pt;
    word-spacing: 0.3ch;
    margin-bottom: 0.8em;
}

nav a {
    letter-spacing: 0.4ch;
}

footer .script-changer {
    padding: 0.2em 0.5em;
    border: 1pt solid #CC6666;
    border-radius: 0.5ch;
    color: #FFBBBB;

    /* nav links shouldn't jump around when changing script */
    display: inline-block;
    min-width: 7ch;

    /* fix for #14 (translation pop-up on Chrome mobile) */
    user-drag: none;
    user-select: none;
}

footer address {
	color: #DD8888;
	font-size: 8pt;
	font-style: inherit;
	letter-spacing: 0.2ch;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}

footer a.current-page, footer a.current-page:hover {
	color: #661111;
	text-decoration: none;
}

footer .script-changer:hover {
	text-decoration: none;
	border-color: white;
}

.fake-link {
	cursor: pointer;
}




/* === ACTION CHOOSER === */

form#action-chooser {
    /* box */
    padding: 2ch;
    width: 40ch;
    border: 1pt solid black;
	background: radial-gradient(#BB5544, #AB4230);
    border: solid 1pt #AA4433;
    border-radius: 1ch;
    box-shadow: 0 4pt 8pt 0 rgba(0, 0, 0, 0.2), 0 6pt 20pt 0 rgba(0, 0, 0, 0.19);

    /* center horisontally */
    margin: auto;

    /* center vertically
      adapted from .main */
    z-index: 2;
    position: fixed;
    top: 50%; /* using 50% looks off somehow...*/
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);

    /* expand to fit content
       https://teamtreehouse.com/community/how-can-i-make-my-divs-grow-wider-according-to-their-content */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    animation: fade-in 0.3s linear;
}

form#action-chooser > h1 {
    /* text-related */
    font-family: "Gill Sans", sans-serif;
    font-size: 14pt;
    font-weight: lighter; /* TODO: remove once h1 has been sorted out? */
    color: #FFBBBB;
    text-align: center;

    margin: 0 0 0.5em 0;
    padding-bottom: 0.5em;
    border-bottom: 1pt solid #CC6666;
}

form#action-chooser > ol {
    margin: 0;
    padding: 0 0 0 3ch;
    color: #FFBBBB;
}

form#action-chooser > ol > li > input[type=radio] {
    /* hide the actual radio button */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    /* remove last little bit on the left */
    margin: 0;
}

form#action-chooser > ol > li > label {
    color: #FFBBBB;
    cursor: pointer;
    font-family: "Gill Sans", sans-serif;
    font-size: 14pt;
}

/* Reveal that the options are also clickable */
form#action-chooser > ol > li > label:hover {
    text-decoration: underline;
}

/* Colour the currently checked button white */
form#action-chooser > ol > li > input[type=radio]:checked + label {
    color: white;
}




/* === DICTIONARY === */
span.keypress {
	padding: 0 0.8ch;
	border: 1pt solid #AAAAAA;
    border-radius: 0.5ch;
    background-color: white;
    color: #666666;
}

.dictionary-header {
    display: flex;
    flex-direction: row;
}

.dictionary-header-bubble {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.etymology {
    border-radius: 1ch;
    padding: 1em;
    margin: auto;
    font-size: 10pt;
    font-style: italic;
    font-family: "Gill Sans", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #BBBBBB;
    letter-spacing: 0.5ch;
}

.etymology .hanzi {
    color: #777777;
}

/* headers above lists (e.g. search results) should be centered */
.list-header, .list-subheader {
	text-align: center;
}

.list-subheader {
	color: #AAAAAA;
	font-size: 10pt;
	font-style: italic;
}

.search-result h1 {
	margin: 0 0 0.5em 0;
}

.search-result form {
    margin-bottom: 1em;
    font-size: 12pt;
    letter-spacing: 0.3ch;
    padding: 0.5em 1ch;
    margin-right: 0.5ch;
    border: 1pt solid #FFAAAA;
    border-radius: 0.5ch;
    background-color: #FFCCCC;
    color: #994444;
}

.dictionary-entry, .dictionary-entries {
	font-size: 14pt;
}

.dictionary-entries {
	list-style-type: none;
	padding: 0;
	margin: 0;

    /* TODO: need new html that makes text-overflow: ellipsis possible */
    /* make sure text stays on a single line */
    white-space: nowrap;
    overflow: hidden;
}

.dictionary-entries li {
    margin-bottom: 0.8em;
}

.dictionary-entries a > .hanzi {
    display: inline-block;
	font-size: 20pt;
	padding: 0.2em;
	border: 1pt solid #AAAAAA;
	border-radius: 0.5ch;
	background-color: white;
	color: #666666;
}

.dictionary-entries span.pinyin {
    color: #999999;
}

.dictionary-entries span.pinyin:first-child {
    color: #DD8888;
}

.dictionary-entries ul {
    font-size: 16pt;
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
	padding: 0;
	margin: 0.3em 0 0 0;
}

.dictionary-entries ul li {
    padding: 0;
    margin: 0 0 0.5em 0;
}

/* mark variants that only appear in a different script (e.g. traditional) */
.false-variant, .false-variant .hanzi, .false-variant .pinyin {
	color: #DDDDDD;
	border-color: #DDDDDD;
	text-decoration: line-through;
}

/* marks a special tag in a dictionary entry (in the subheader after pinyin) */
.tag {
	font-size: 14pt;
	font-family: Didot, serif;
	letter-spacing: 0.3ch;
    padding: 0.2em 1ch;
    margin-right: 0.5ch;
    border: 1pt solid #AAAAAA;
    border-radius: 0.5ch;
    background-color: white;
    color: #666666;
}

.frequency-high {
    color: #7bce34;
    font-family: inherit;
}

.frequency-medium {
    color: #ffcc2f;
    font-family: inherit;
}

.frequency-low {
    color: #ead7cf;
    font-family: inherit;
}

.dictionary-entry h1 {
	font-size: 52pt;
}

.dictionary-entry h1 .hanzi {
	font-weight: 100;
}

.dictionary-entry .subheader {
	font-size: 18pt;
	line-height: 1.5;
}

.hanzi {
	color: #555555;
	/* http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/ */
	font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
}

.pinyin {
	color: #DD8888;
	font-family: Didot, serif;
}

.pinyin::before {
	content: "[";
}

.pinyin::after {
	content: "]";
}

.hanzi a, .pinyin a, .dictionary-entries a {
	color: inherit;
}

/* TODO: clean up this mess... */
.hanzi a:hover, .pinyin a:hover, .dictionary-entries a:hover, a:hover .hanzi, a:hover .pinyin, .dictionary-entries li:hover span.pinyin, .dictionary-entries li:hover span.pinyin:first-child  {
	color: #4477DD;
	border-color: #4477DD;
}
