/* https://www.w3schools.com/css/css3_animations.asp */
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

header {
	text-align: center;
}

h1#logo {
	animation: fade-in 0.5s ease;

	/* positioning */
	margin: 0.6em 0 0 0;
	padding: 0;

	/* text-related */
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 32pt;
	letter-spacing: 0.4ch;
}

span#logo-sino {
	color: #333333;
}

span#logo-dot {
	animation: fade-in 1.5s ease-in;
	color: #BBBBBB;
}

span#logo-study {
	color: #BB2222;
}

p#slogan {
	padding: 0;
	margin: 0.3em 0 0 0;

	/* text-related */
	font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    font-size: 10pt;
    color: #999999;
    letter-spacing: 0.6ch;
}

div#page {
	margin: auto;
	max-width: 80ch;
}

form#study-form {
	display: flex;
	margin: 1.2em 0 0 0;
}

input#study-input {
	animation: fade-in 1s ease;

	/* positioning */
	flex: 1;
	margin-right: 1ch;

	/* text-related */
	font-size: 12pt;

	/* box */
	padding: 0.5ch;
	border: 1pt solid #999999;
	border-radius: 0.5ch;
}

button#study-button {
	animation: fade-in 1.5s ease;

	/* text-related */
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 12pt;
	letter-spacing: 0.2ch;

	/* box */
	min-width: 6ch;
	border: 1pt solid #999999;
	border-radius: 0.5ch;
	background-color: #F9F9F9;
}

input.evaluated {
	background-color: #DDFFCC;
}

div#study-hint {
	max-width: 100%;
	animation: fade-in 0.5s ease;

	/* text-related */
	font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 8pt;
    color: #999999;
    margin: 0 0 1em 0;
    padding: 0.5ch;

	/* make sure text stays on a single line */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* make sure the hint keeps its height when empty */
	height: 1em;
}

ul#card-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.card {
	animation: fade-in 1s ease;

	/* positioning */
	margin: 1.2em 0;

	/* text-related */
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    color: #999999;
    letter-spacing: 0.2ch;

	/* box */
	padding: 1ch;
    border: 1pt solid #DDDDDD;
    background: white;
    border-radius: 0.5ch;
    /*box-shadow: 0 0.2sem 0.2em #EBEBEB;*/
}

li.query-failure {
	color: red;
}

footer {
	animation: fade-in 1.5s ease;

	text-align: center;

	/* text-related */
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 8pt;
    color: #999999;
    letter-spacing: 0.6ch;
}

a {
	color: #2222BB;
	text-decoration: none;
}

a:hover {
	color: #2222FF;
	text-decoration: underline;
}

/* DEV STYLES
h1#logo {
	border: 1px dashed green;
}

div#page {
	border: 1px dashed orange;
}

form#study-form {
	border: 1px dashed red;
}

li.card {
	border: 1px dashed blue;
}